.wrapper{
    visibility: hidden;
}
body{
    background: white;
}
.mobile{
    display: block;
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 240px;
    padding: 0 40px;
    text-align: center;
    color: teal;
}

